
.project {
  background: $black-s;
  padding: 60px 0 80px 0;
  position: relative;
  z-index: 0;
  margin-top: 170px;
  transition: all .8s;
  @media (max-width:1440px){
    margin-top: calc(((170 - 128)*(100vw - 768px))/(1440 - 768) + 128px);
    
  }
  // .project__title
  
  &__title {
    color: $white-s;
    margin-bottom: 60px;
    @media (max-width:1024px){
      display: none;
    }
  }
  
  // .project__body
  
  &__block{
    display: flex;
    align-items: center;
  }
  
  &__body {
    flex: 0 0 50%;
    text-align: center;
  }
  
  // .project__image
  
  &__image {
      transition: all .8s;
      position: relative;
      flex: 0 0 52%;
      height: 380px;
      transform: translate(-26px, 0);
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 100% 60%;
      }
      @media (max-width:428px){
        display: none;
      }
		}
    
    &__column{
      text-align: center;
      margin: 0;
      width: 50vw;
      @media (max-width:428px){
        width: 100vw;
      }
    }

		// .project__text

		&__text {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 41px;
      text-align: center;
      letter-spacing: 0.02em;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 48px;
      @media (max-width:1440px){
        font-size: calc(((34 - 28)*(100vw - 768px))/(1440 - 768) + 28px);;
        line-height: calc(((41 - 34)*(100vw - 768px))/(1440 - 768) + 34px);;
        margin-bottom: calc(((48 - 60)*(100vw - 768px))/(1440 - 768) + 60px);
      }
      @media (max-width:768px){
        font-size: calc(((28 - 24)*(100vw - 320px))/(768 - 320) + 24px);;
        line-height: calc(((34 - 29)*(100vw - 320px))/(768 - 320) + 29px);;
        margin-bottom: calc(((60 - 40)*(100vw - 320px))/(768 - 320) + 40px);
      }
		}

		// .project__form

		&__input {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
      input{
        width: 280px;
        padding: 0 0 16px 0;
        color: $white-s;
        text-align: center;
        background: transparent;
        font-family: 'Lato';
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        margin-bottom: 40px;
        @media (max-width:1440px){
          font-size: calc(((16 - 15)*(100vw - 768px))/(1440 - 768) + 15px);
          padding: 0 0 calc(((16 - 18)*(100vw - 768px))/(1440 - 768) + 18px) 0;
        }
        @media (max-width:768px){
          font-size: calc(((15 - 12)*(100vw - 320px))/(768 - 320) + 12px);
          padding: 0 0 calc(((16 - 20)*(100vw - 320px))/(768 - 320) + 20px) 0;
          width: 100%;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button{
          -webkit-appearance: none;
          margin: 0;
        }
        &::placeholder{
          color: $white-s;
        }
      }
		}

		&__phone {
		}

		// .project__btn

		&__btn {
      color: $black-s;
      background:$white-s;
		}
}
